main {
  padding-top: 0;   /* 🔥 REMOVE GAP */
  margin-top: 0;
}


#root {
  margin: 0;
  padding: 0;
}


.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 24px;
  min-height: 80vh;
}
